{% extends 'admin/base-template.html' %}
{% block content %}
    {% load pagination_tags %}

			<div class="panel">
				<div class="panel-heading">
					<div class="panel-title">
						<h3>XX管理</h3>
					</div>
					<div class="panel-options">
						<a href="../cookbook_add/" class="btn btn-success">添加</a>
					</div>
				</div>
				<div class="panel-body with-table">
					<table class="table table-bordered">
						<thead>
							<th>名称</th>
                            <th>价格</th>
                            <th>图片</th>
                            <th>所属类型</th>
                            <th>描述</th>
							<th>操作</th>
						</thead>
						<tbody>
                            {% autopaginate cookbooks 10 %}
                            {% for cookbook in cookbooks %}
							<tr>
								<td>{{ cookbook.name }}</td>
                                <td>{{ cookbook.price }}</td>
                                <td>{{ cookbook.pic_path }}</td>
                                <td>{{ cookbook.desp }}</td>
                                <td>{{ cookbook.food_type.name }}</td>
								<td>
                                    <a href="/admin/cookbook_detail/{{ cookbook.id }}" class="btn btn-success">查看</a>
                                    <a href="/admin/cookbook_update{{ cookbook.id }}" class="btn btn-info">编辑</a>
                                    <a href="javascript:;" class="btn btn-danger" onclick="beforeDelete('/admin/cookbook_delete/{{ cookbook.id }}')">删除</a>
                                </td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
				</div>
                {% paginate  %}
		</div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/report.js" charset="UTF-8"></script>
{% endblock %}
