{% extends 'admin/base-template.html' %}
{% block content %}
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>农业排放因子详情</h3>
            </div>
             <div class="panel-options">
                <a href="/admin/arcfactor_update_arc/{{ arcfactor.id }}" class="btn btn-success">修改农业排放因子</a>
            </div>
        </div>
        <div class="panel-body with-table">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td width="20%">名称</td>
                    <td>{{ arcfactor.arc_factor_type.name }}</td>
                </tr>
                <tr>
                    <td>数值</td>
                    <td>{{ arcfactor.value }}</td>
                </tr>
                <tr>
                    <td>年份</td>
                    <td>{{ arcfactor.year }}</td>
                </tr>
                <tr>
                    <td>数值单位</td>
                    <td>{{ arcfactor.arc_factor_type.note }}</td>
                </tr>
                </tbody>
            </table>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button type="button" class="btn btn-green" onclick="javascript:history.back();">返回</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}