{% extends 'admin/base-template.html' %}
{% block content %}
    {% load pagination_tags %}

			<div class="panel">
				<div class="panel-heading">
					<div class="panel-title">
						<h3>店铺管理</h3>
					</div>
					<div class="panel-options">
						<a href="../shop_add/" class="btn btn-success">添加</a>
					</div>
				</div>
				<div class="panel-body with-table">
					<table class="table table-bordered">
						<thead>
							<th>名称</th>
                            <th>地址</th>
                            <th>联系人</th>
                            <th>联系电话</th>
                            <th>创建时间</th>
							<th>操作</th>
						</thead>
						<tbody>
                            {% autopaginate shops 10 %}
                            {% for shop in shops %}
							<tr>
								<td>{{ shop.name }}</td>
                                <td>{{ shop.address }}</td>
                                <td>{{ shop.contact_info }}</td>
                                <td>{{ shop.phone }}</td>
                                <td>{{ shop.create_time|date:'Y-m-d H:i:s' }}</td>
								<td>
                                    <a href="/admin/shop_detail/{{ shop.id }}" class="btn btn-success">查看</a>
                                    <a href="/admin/shop_update/{{ shop.id }}" class="btn btn-info">编辑</a>
                                    <a href="javascript:;" class="btn btn-danger" onclick="beforeDelete('/admin/shop_delete/{{ shop.id }}')">删除</a>
                                </td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
				</div>
                {% paginate  %}
		</div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/report.js" charset="UTF-8"></script>
{% endblock %}
