{% extends 'admin/base-template.html' %}
{% block content %}
    {% load pagination_tags %}

			<div class="panel">
				<div class="panel-heading">
					<div class="panel-title">
						<h3>用户管理</h3>
					</div>
					<div class="panel-options">
						<a href="../userinfo_add/" class="btn btn-success">添加</a>
					</div>
				</div>
				<div class="panel-body with-table">
					<table class="table table-bordered">
						<thead>
							<th>用户名</th>
                            <th>姓名</th>
                            <th>邮箱</th>
                            <th>所属店铺名称</th>
                            <th>创建时间</th>
							<th>操作</th>
						</thead>
						<tbody>
                            {% autopaginate userinfos 10 %}
                            {% for userinfo in userinfos %}
							<tr>
								<td>{{ userinfo.user.username }}</td>
                                <td>{{ userinfo.real_name }}</td>
                                <td>{{ userinfo.user.email }}</td>
                                <td>{{ userinfo.shop.name }}</td>
                                <td>{{ userinfo.create_time|date:'Y-m-d H:i:s' }}</td>
								<td>
                                    <a href="/admin/userinfo_detail/{{ userinfo.id }}" class="btn btn-success">查看</a>
                                    <a href="/admin/userinfo_update/{{ userinfo.id }}" class="btn btn-info">编辑</a>
                                    <a href="javascript:;" class="btn btn-danger" onclick="beforeDelete('/admin/userinfo_delete/{{ userinfo.id }}')">删除</a>
                                </td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
				</div>
                {% paginate  %}
		</div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/report.js" charset="UTF-8"></script>
{% endblock %}
