{% extends 'admin/base-template.html' %}
{% block content %}
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>用户详情</h3>
            </div>
             <div class="panel-options">
                <a href="/admin/userinfo_update/{{ userinfo.id }}" class="btn btn-success">修改用户</a>
            </div>
        </div>
        <div class="panel-body with-table">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td width="20%">用户名</td>
                    <td>{{ userinfo.user.username }}</td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td>{{ userinfo.real_name }}</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>{{ userinfo.user.email }}</td>
                </tr>
                <tr>
                    <td>所属店铺名称</td>
                    <td>{{ userinfo.shop.name }}</td>
                </tr>
                </tbody>
            </table>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button type="button" class="btn btn-green" onclick="javascript:history.back();">返回</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}