{#<div id="resultLoading" style="display:none">#}
{#    <div id="show"><img src="/static/images/ajax-loader.gif">#}
{#        <div id="waitMsg"></div>#}
{#    </div>#}
{#    <div class="bg">#}
{#    </div>#}
{#</div>#}
<script type="text/javascript">
    function ajaxindicatorstop()
    {
        $('#resultLoading .bg').height('100%');
        $('#resultLoading').fadeOut(300);
        $('body').css('cursor', 'default');
    }

    $(document).ajaxStart(function () {
        //show ajax indicator
        ajaxindicatorstart('请等待..');
        //sleep(1000000);
    }).ajaxStop(function () {
        //hide ajax indicator
        ajaxindicatorstop();
    });
</script>