<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable = no">
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
	<title>首页</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
    	<img id="bg" src="/static/images/bg.jpg" alt="">

    	<div id="nav">
            <div class="navbarCont">
        		<ul class="navbar">
        			<li><a href="">项目介绍</a></li>
        			<li><a href="">案例展示</a></li>
        			<li><a href="">新闻中心</a></li>
        			<li><a href="">分店查询</a></li>
        			<li><a href="">合作模式</a></li>
        			<li><a href="">联络及留言</a></li>
        			<div style="clear:both"></div>
        		</ul>
            </div>
    		<div class="navDetail" style="display:none"> 
    			<ul>
    				<li>
    					<a href="">远糖时代</a>
    				</li>
    				<li>
    					<a href="">远糖术</a>
    					<a href="">远糖法</a>
    					<a href="">远糖光</a>
    					<a href="">糖尿病康复</a>
    				</li>
    				<li>
    					<a href="">优惠活动</a>
    					<a href="">新闻动态</a>
    					<a href="">科普知识</a>
    				</li>
    				<li>
    					<a href="">地级市分店</a>
    				</li>
    				<li>
    					<a href="">代理方式</a>
    					<a href="">分店权益</a>
    					<a href="">成为代理商</a>
    					<a href="">代理商入口</a>
    				</li>
                    <li>
                        <a href="">代理方式</a>
                        <a href="">分店权益</a>
                        <a href="">成为代理商</a>
                        <a href="">代理商入口</a>
                    </li>
    			</ul>
    		</div>
    	</div>

        <div id="footer">
            <div class="footCont">

                    <ul class="footList">
                        <li><a href="">远糖时代</a></li>
                        <li><a href="">媒体中心</a></li>
                        <li><a href="">招聘岗位</a></li>
                        <li><a href="">友情链接</a></li>
                        <li><a href="">成为代理商</a></li>
                        <li><a href="">分店查询</a></li>
                        <li><a href="/admin/login" target="_blank">管理员入口</a></li>
                        <li><a href="">下载中心</a></li>
                        <div style="clear:both"></div>
                    </ul>
                    <p>备案号：***** 技术支持：@**</p>
                    
            </div>
        </div>

    </div>


<script type="text/javascript" src="/static/js/bgHeight.js"></script>
<script type="text/javascript" src="/static/js/zyf.js"></script>
</body>
</html>